<%# add navigation links to this file %>
<% if current_user %>
	<li><%= link_to 'Logout', logout_path %></li>
<% else %>
	<li><%= link_to 'Sign Up', signup_path %></li>
	<li><%= simple_form_for :session, :url => login_path, :method => :post, :html => { :class => 'form-inline' } do |f| %>
		<%= f.text_field :email, :placeholder => "Email", :class => 'form-control' %>
		<%= f.submit "Log in", :class => 'btn btn-default' %>
	<% end %></li>
<% end %>